<ion-view view-title="Contacts" ng-controller="ContactsCtrl as vm">
    <ion-content>
        <div class="list">
            <a class="item item-avatar" ng-click="vm.modal.show(); vm.showContact({{contact.id}})" ng-repeat="contact in vm.contacts">
                <img src="https://api.adorable.io/avatars/285/{{contact.email}}">
                <h2>{{contact.name || 'Unknown'}}</h2>
                <p>{{contact.email}}</p>
            </a>
        </div>
    </ion-content>

    <script id="my-modal.html" type="text/ng-template">
    <div class="overlay">
        <ion-modal-view class="modal-small">
            <ion-content class="list card" style="margin: 0;">
                <div class="item item-avatar item-avatar-center" style="background:url('http://subtlepatterns2015.subtlepatterns.netdna-cdn.com/patterns/weather.png');">
                    <img class="center" src="https://api.adorable.io/avatars/285/{{vm.contact.email}}" style="border: 2px solid #fff;">
                    <h2 class="center">{{vm.contact.name || vm.contact.email}}</h2>
                    <button class="button button-clear button-dark right" ng-click="vm.modal.hide()">
                        <i class="icon ion-ios-close-empty icon-2x"></i>
                    </button>
                </div>

                <div class="item item-body">
                    <a class="item item-icon-left positive" ng-click="vm.chatWith(vm.contact.id)">
                        <i class="icon ion-ios-chatbubble-outline"></i>
                        Send message
                    </a>
                </div>
            </ion-content>
        </ion-modal-view>
    </script>
</ion-view>
