<ion-view view-title="Map" ng-controller="MapCtrl as vm" hide-nav-bar=true>
    <ion-content style="background: url('http://subtlepatterns2015.subtlepatterns.netdna-cdn.com/patterns/noisy_grid.png')" data-tap-disabled="true">
        <div class="map" ng-If="vm.ready">
            <leaflet id="map" center="vm.map.center" markers="vm.map.markers" style="width: 100vw; height: 100vh;" defaults="vm.map.defaults"></leaflet>
            <a class="button icon ion-pinpoint focus-control" ng-click="vm.focusMap()"></a>
        </div>
        <div class="profile-preview list" ng-if="vm.selectedUser">
            <div class="item item-avatar">
                <img src="https://api.adorable.io/avatars/285/{{vm.selectedUser.email}}">
                <h2>{{vm.selectedUser.name || vm.selectedUser.email}}</h2>
                <span ng-if="!request.author.gender">
                    <img src="img/user_women.png" width="13">
                </span>
                <span ng-if="request.author.gender">
                    <img src="img/user_man.png">
                </span>
                <span>{{vm.selectedUser.country}}</span>
                <i class="icon icon-2x ion-ios-close-empty" ng-click="vm.closePreview()"></i>
            </div>

            <div class="item item-body">
                <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit, autem eveniet sed deleniti illum eum sit perferendis atque, rerum, vero nobis maiores. Sapiente at, delectus blanditiis veritatis ipsa sequi facilis?
                </p>
                <sapn><a href="#" class="button button-small button-energized">View request</a></span>
                <span class="right-button"><a href="#" class="button button-small button-energized">Chat with me</a></span>
            </div>


        </div>
    </ion-content>
</ion-view>
