<ion-view view-title="Edit Profile" ng-controller="ProfileCtrl as vm">
    <ion-content>
        <div class="list" style="margin: 0;">
            <div class="item item-avatar item-avatar-center-lg">
                <img class="center" src="https://api.adorable.io/avatars/285/{{vm.user.email}}" style="border: 2px solid #ccc;">
            </div>
            <label class="item item-input">
                <span class="input-label">First Name</span>
                <input type="text" ng-model="vm.user.first_name">
            </label>
            <label class="item item-input">
                <span class="input-label">Last Name</span>
                <input type="text" ng-model="vm.user.last_name">
            </label>
            <label class="item item-input">
                <span class="input-label">Email</span>
                <span class="item-note">{{vm.user.email}}</span>
            </label>
            <label class="item item-input">
                <span class="input-label">Age</span>
                <input type="number" ng-model="vm.user.age">
            </label>
            <label class="item item-input item-select">
                <span class="input-label">Gender</span>
                <select ng-model="vm.user.gender">
                    <option value="0">Female</option>
                    <option value="1">Male</option>
                </select>
            </label>
            <label class="item item-input">
                <span class="input-label">Country</span>
                <input type="text" ng-model="vm.user.country">
            </label>
            <label class="item item-input">
                <span class="input-label">Language</span>
                <input type="text" ng-model="vm.user.language">
            </label>
            <label class="item item-input">
                <textarea placeholder="Introduction" style="height: 100px;" ng-model="vm.user.introduction"></textarea>
            </label>
        </div>
        <div style="text-align:center">
            <button class="button button-energized" style="margin:25px auto;width:94%;" ng-click="vm.saveProfile()">
                Save
            </button>
        </div>
    </ion-content>
</ion-view>
