<ion-view view-title="Settings" ng-controller="MyAccountCtrl as vm">
    <ion-content>
        <div class="list" style="margin: 0;">
            <div class="item item-avatar item-avatar-center-lg">
                <img class="center" src="https://api.adorable.io/avatars/285/{{vm.user.email}}" style="border: 2px solid #ccc;">
                <h2 class="center">{{vm.user.first_name + ' ' + vm.user.last_name}}<h2>
            </div>
            <a class="item item-icon-right" ng-href="#/tab/showProfile">
                Show my profile
                <i class="icon ion-chevron-right" style="font-size:15px"></i>
            </a>

            <div class="item item-divider">
                Settings
            </div>
            <ion-toggle ng-change="vm.setShareLocation()" ng-model="vm.user.is_sharing_location" ng-checked="vm.user.is_sharing_location == 1">
                Share my location
            </ion-toggle>

            <a class="item item-icon-left" ng-click="vm.logout()" style="color:#ed464d">
                <i class="icon ion-android-exit"></i>
                Logout
            </a>
        </div>
    </ion-content>
</ion-view>
